
.dockbar
{
	background-color : blue;
	height: 20px;
}

.minificable
{
    float: right;
    height: 20px;
    width: 20px;
    background-color: yellow;
}

.closable
{
    float: right;
    height: 20px;
    width: 20px;
    background-color: red;
}