<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Security-Policy"
			content="default-src 'self' asset://* https://* http://* 'unsafe-inline'; script-src 'self' asset://* 'unsafe-inline'; child-src 'none';">
		<link rel="stylesheet" type="text/css" href="asset://styles/app.css">
	</head>
	<body>
	  <div id="root"></div>
	  <script>
	  window.addEventListener('click', function(e) {
		if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
		  e.preventDefault();
		}
	  });
	  </script>
		<script src="asset://lib/react.development.js"></script>
		<script src="asset://lib/react-dom.development.js"></script>
		<script src="asset://lib/babel.min.js"></script>
		<script type="text/babel" src="asset://scripts/main.js"></script>
	</body>
</html>
